

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    <title></title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-right">
                    <a href="http://" target="_blank" rel="Mi Cuenta">
                        <img src="~/images/icon-micuenta.png" alt="Mi Cuenta">
                        <span>Acceder a Mi Cuenta</span>
                    </a>
                </div>
            </div>
            <div class="row justify-content-between" style="background-color: #020e68">
                <div class="col">
                    <a href="http://" target="_blank" rel="">
                        <img src="~/images/logo_big.png" alt="Libros Urgentes"
                             style="margin: 10px 0px;">
                    </a>
                </div>
                <div class="col"></div>
                <div class="col">
                    <img class="float-right" src="~/images/horario_big_9_a_19.png" alt="Libros Urgentes">
                </div>
            </div>
        </div>
    </header>

    <section class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync(nameof(ListarMaterias))
            @*
            <div class="col-3 list-group">
                @foreach (String materia in ViewData["materias"] as List<String>)
                {
                    <a href="#" class="list-group-item list-group-item-action">@materia</a>
                }

            </div>
            *@

            <div class="col-9 input-group p-3">
                <div class="row-fluid">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="border border-secondary input-group-text" style="width:110px;" id="searchBy">Buscar por título</span>
                            <button type="button" class="btn border border-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <span class="dropdown-item border-bottom p-3">Título</span>
                                <span class="dropdown-item border-bottom p-3">Autor</span>
                                <span class="dropdown-item border-bottom p-3">Editorial</span>
                                <span class="dropdown-item border-bottom p-3">ISBN</span>
                            </div>
                            <input type="text" id="textInput" class="form-control col-8" id="cajaDeTexto" aria-label="Text input with segmented dropdown button">
                            <a class="btn btn-primary my-2 my-sm-0" id="search">Search</a>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>

        </div>
    </section>

    <footer>
        <div class="container text-center" style="font-size: 14px">
            <hr>
            <img src="~/images/logo_cipi_esc.jpg" class="float-right" alt="">
            <span>© Agapea Factory S.A. 2002 - 2019. Reservados todos los derechos</span>
            <br>
            <a href="">Aviso Legal</a> |
            <a href="">Condiciones de contratación</a> |
            <a href="">Política de Privacidad y Cookies</a>
        </div>
    </footer>

    <script type="text/javascript" src="~/js/searcherScript.js"></script>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
